.delay-row-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.xxx{
    position: relative;
    width:100%;
    text-align: center;
}
.elipsys{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:50%;
}
