.delay-row-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-inline{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
}
.data{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
}
