@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
    /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
    /*  sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
    margin-top: 1rem;
}

a {
    color: #333;
    cursor: pointer;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.vertical-center-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delay-time-info-icon {
    margin: .4rem .8rem 0 0;
}

.logo {
    height: 14rem;
    margin: 4rem;
}

.alert {
    margin-top: 1rem;
}
.spinner-border{
    margin-top: 1rem;
}

